<% include header %>
<!-- <select data-app="select">
  <% boards.forEach(board => { %>
    <option value="<%=board.id%>"><%=board.title%></option>
  <% }) %>
</select>
<ul data-app="ul"></ul> -->

<div class="board">
  <%  if (articles.length == 0) { %>
  <p>게시물이 없습니다.</p>
  <% } else { %>
    <div class="header">
      <div class="row">
        <div class="id">#</div>
        <div class="title">제목</div>
        <div class="author">글쓴이</div>
        <div class="hit">조회수</div>
        <div class="date">날짜</div>
      </div>
    </div>
    <div class="body">
      <% articles.forEach(article => { %>
      <div class="row">
        <div class="id center"><%=article.id%></div>
        <div class="title"><a href="/article/<%=article.id%>"><%=article.title%></a></div>
        <div class="author center"><%=article.name%></div>
        <div class="hit center"><%=article.hit%></div>
        <div class="date center"><%=util.date(article.createdAt)%></div>
      </div>
      <% }); %>
    </div>
    <div class="footer">
      <div class="paging">
        <%=console.log(paging)%>
        <% if(paging.first) { %> <a href="<%=query({page: paging.first})%>" class="first">처음</a> <% } %>
        <% if(paging.prev) { %> <a href="" class="prev">이전</a> <% } %>
          <% for(let i=paging.start; i<=paging.end; i++){ %>
            <a class="<%=(i==paging.current) ? 'current' : ''%>" href=""><%=i%></a>
          <% } %>
        <% if(paging.next) { %> <a href="" class="next">다음</a> <% } %>
        <% if(paging.last) { %> <a href="" class="last">마지막</a> <% } %>
      </div>
    </div>
  <% } %>
</div>


<script>
 /* let $views = {}
  $('[data-app]').each((idx, element) => {
    let $el = $(element);
    let viewName = $el.data('app');
    $views[viewName] = $el;
  });
  
  let state = {
    items: [],
    filteredItems: []
  };
  
  let handlers = {
    'init': function(e){
      state.items = <%-JSON.stringify(articles)%>;
      state.filteredItems = state.items.filter(item => item.board_id==$views.select.val());
      triggerEvent('update-view');
    },
    'select-change': function(e, boardName){
      state.filteredItems = state.items.filter(item => item.board_id==boardName);
      triggerEvent('update-view');
    },
    'update-view': function(e){
      $views.ul.empty();
      state.filteredItems.forEach(article => {
        $views.ul.append($(`<li><a href="article/${article.id}">${article.title}</a></li>`));
      });
    }
  };
  
  // register handler
  Object.keys(handlers).forEach(name => {
    let eventName = `app-${name}`;
    $(window).on(eventName, handlers[name]);
  });
  
  // 이벤트 연결한 이후에 작동 가능
  triggerEvent('init');
  
  $views['select'].on('change', function(e){
    triggerEvent('select-change', e.target.value);
  });
  
  function triggerEvent(name, data=null){
    $(window).trigger(`app-${name}`, data);
  }*/
  
</script>
<% include footer %>