<% include header %>
<!-- <select data-app="select">
  <% boards.forEach(board => { %>
    <option value="<%=board.id%>"><%=board.title%></option>
  <% }) %>
</select>
<ul data-app="ul"></ul> -->

<div class="board">
  <% if (article) { %>
    <div class="article">
      <div class="header">
        <div class="title"><%=article.title%></div>
        <span class="author"><%=article.author%> </span>
        <span class="date"><%=util.date(article.createdAt)%></span>
      </div>
      <div class="body">
        <div class="content">
          <%-article.content.replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\n/g, '<br>')%>
          <!-- 태그가 다 먹히는 문제해결 -->
        </div>
      </div>
      <div class="footer">
        <% if(user != null && (user.isAdmin == 1 || user.id == article.user_id) ) { %>
          <a href="#" onclick="bbs.Article.update(<%=article.id%>); return false;" class="btn">수정</a>
          <a href="#" onclick="bbs.Article.delete(); return false;" class="btn">삭제</a>
        <% } %>
      </div>
    </div>
    <div class="comment">
      <% if(user) { %>
        <form method="post" action="/comment">
          <%-buildHiddens({content: null})%>
          <input type="text" name="content">
          <input type="submit" value="댓글쓰기">
        </form>
      <% } %>
      <div class="commentList">
        <% comments.forEach(comment => { %>
          <div id="comment_<%=comment.id%>">
            <div class="com_user"><%=comment.username%></div>
            <div class="com_content"><%=comment.content%></div>
            <div class="com_date"><%=util.date(comment.createdAt)%></div>
            <% if(user != null && (user.isAdmin == 1 || user.id == comment.user_id) ) { %>
              <a href="#" id="com_update" onclick="bbs.Comment.update(<%=comment.id%>, this); return false;">수정</a>
              <a href="#" id="com_delele" onclick="bbs.Comment.delete(<%=comment.id%>); return false;">삭제</a>
            <% } %>
            <hr>
          </div>
        <% }) %>
      </div>
    </div>
  <% } %>
  <%  if (articles.length == 0) { %>
  <p>게시물이 없습니다.</p>
  <% } else { %>
    <div class="header">
      <div class="row">
        <div class="id">#</div>
        <div class="title">제목</div>
        <div class="author">글쓴이</div>
        <div class="hit">조회수</div>
        <div class="date">날짜</div>
      </div>
    </div>
    <div class="body">
      <% articles.forEach(article => { %>
      <div class="row">
        <div class="id center"><%=article.id%></div>
        <div class="title"><a href="<%-buildQuery({id: article.id})%>"><%=article.title%></a></div>
        <!-- /article/<%=article.id%> -->
        <div class="author center"><%=article.name%></div>
        <div class="hit center"><%=article.hit%></div>
        <div class="date center"><%=util.date(article.createdAt)%></div>
      </div>
      <% }); %>
    </div>
    <div class="footer">
      <div class="paging">
        <% if(paging.first) { %> <a href="<%=buildQuery({page: paging.first, id: null})%>" class="first">처음</a> <% } %>
        <% if(paging.prev) { %> <a href="<%=buildQuery({page: paging.prev, id: null})%>" class="prev">이전</a> <% } %>
          <% for(let i=paging.start; i<=paging.end; i++){ %>
            <a class="<%=(i==paging.current) ? 'current' : ''%>" href="<%=buildQuery({page: i, id: null})%>"><%=i%></a>
          <% } %>
        <% if(paging.next) { %> <a href="<%=buildQuery({page: paging.next, id: null})%>" class="next">다음</a> <% } %>
        <% if(paging.last) { %> <a href="<%=buildQuery({page: paging.last, id: null})%>" class="last">마지막</a> <% } %>
      </div>
    </div>
    <form class="search">
      <%-buildHiddens({page: null, search: null})%>
      <input type="text" name="search" placeholder="Search...">
      <input type="submit">
    </form>
    <div class="btns">
      <a href="/write?board=<%=board.name%>">글쓰기</a>
    </div>
  <% } %>
</div>


<script>
 /* let $views = {}
  $('[data-app]').each((idx, element) => {
    let $el = $(element);
    let viewName = $el.data('app');
    $views[viewName] = $el;
  });
  
  let state = {
    items: [],
    filteredItems: []
  };
  
  let handlers = {
    'init': function(e){
      state.items = <%-JSON.stringify(articles)%>;
      state.filteredItems = state.items.filter(item => item.board_id==$views.select.val());
      triggerEvent('update-view');
    },
    'select-change': function(e, boardName){
      state.filteredItems = state.items.filter(item => item.board_id==boardName);
      triggerEvent('update-view');
    },
    'update-view': function(e){
      $views.ul.empty();
      state.filteredItems.forEach(article => {
        $views.ul.append($(`<li><a href="article/${article.id}">${article.title}</a></li>`));
      });
    }
  };
  
  // register handler
  Object.keys(handlers).forEach(name => {
    let eventName = `app-${name}`;
    $(window).on(eventName, handlers[name]);
  });
  
  // 이벤트 연결한 이후에 작동 가능
  triggerEvent('init');
  
  $views['select'].on('change', function(e){
    triggerEvent('select-change', e.target.value);
  });
  
  function triggerEvent(name, data=null){
    $(window).trigger(`app-${name}`, data);
  }*/
  
</script>
<% include footer %>