<% include helper %>
<html>
  <header>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/js/master.js"></script>
    <script src="/assets/js/jquery.slim.min.js"></script>
  </header>
  <body>
    <main>
      <aside>
        <nav>
          <% boards.forEach(b => { %>
            <a href="/?board=<%=b.name%>" class="<%= board.name==b.name && path=='/' ? 'active' : 'inactive'%>"><%=b.title%></a>
          <% }) %>
          <% if(user) { %>
            <h2><%=user.name%>님 안녕하세요?</h2>
            <a href="/write">글쓰기</a>
            <a href="#" onclick="bbs.User.logout(); return false;">로그아웃</a>
          <% } else { %>
            <a href="/user/login" class="<%=path == '/user/login' ? 'active' : 'inactive'%>">로그인</a>
            <a href="/user/join" class="<%=path == '/user/join' ? 'active' : 'inactive'%>">회원가입</a>
            <h2>로그인하세요</h2>
          <% } %>
      </aside>
    </main>
<hr>